<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>Admin page</title>
</head>
<body>

<div class="row no-gutters">
    <div class="col-sm-12">
        <div class="p-3 bg-dark text-white">
            <div class="page-header">
                <div class="float-left">
                    <b> <label id="principalmail"></label> </b> with roles: <b><label id="auth_roles"></label></b>
                </div>
                <div class="float-right">
                    <form th:action="@{/logout}" method="post">
                        <input class="text-white bg-dark" type="submit" value="Logout"/>
                    </form>
                </div>

                <div class="clearfix"></div>
            </div>

        </div>
    </div>


</div>

<div class="row no-gutters">
    <div class="col-sm-3 bg-light">

        <div class="d-flex flex-column">
            <div class="nav flex-column nav-pills me-3" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                <a class="nav-link active" id="v-pills-home-tab" data-bs-toggle="pill" data-toggle="tab"
                   href="#v-pills-home" role="tab"
                   aria-controls="v-pills-home" aria-selected="true">Admin</a>
                <a class="nav-link" id="v-pills-profile-tab" data-bs-toggle="pill" data-toggle="tab"
                   href="#v-pills-profile" role="tab"
                   aria-controls="v-pills-profile" aria-selected="false">User</a>
            </div>

        </div>

    </div>
    <div class="col-sm-9 px-lg-3" style="background: snow">
        <!----------------------------------------->
        <div class="tab-content">
            <div id="v-pills-home" class="container tab-pane active"><br>


                <!------------------------------------------>
                <h3>Admin Panel</h3>
                <ul class="nav nav-tabs" id="myTab" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab"
                           aria-controls="home"
                           aria-selected="true">Users table</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab"
                           aria-controls="profile" aria-selected="false">New User</a>
                    </li>
                </ul>
                <div class="tab-content" id="myTabContent">
                    <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                        <h5>All Users</h5>
                        <button class="btn btn-primary" onclick="refreshAllRows()">Refresh table</button>
                        <table class="table table-striped table-bordered" id="usersTable">
                            <thead>
                            <tr>
                                <th>ID</th>
                                <th>First name</th>
                                <th>Last name</th>
                                <th>Age</th>
                                <th>Email</th>
                                <th>Role</th>
                                <th>Edit</th>
                                <th>Delete</th>
                            </tr>
                            </thead>
                            <tbody></tbody>
                        </table>

                    </div>
                    <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                        <div class="row">
                            <div class="col"></div>
                            <div class="col text-center">
                                <div class="form-floating mb-3">
                                    <form>
                                        <label for="newname"><b>Name</b></label>

                                        <input type="text"
                                               class="form-control"
                                               id="newname"
                                               placeholder="First name"
                                               required
                                               minlength="3"
                                               maxlength="20"
                                        />

                                        <br>
                                        <label for="newsecondName"><b>Second Name</b></label>
                                        <div class="input-group has-validation">
                                            <input type="text"
                                                   class="form-control"
                                                   id="newsecondName"
                                                   placeholder="Last name"
                                                   required
                                                   minlength="3"
                                                   maxlength="20"
                                            />

                                        </div>
                                        <br>
                                        <label for="newage"><b>Age</b></label>
                                        <div class="input-group has-validation">
                                            <input type="number"
                                                   class="form-control"
                                                   id="newage"
                                                   placeholder="Age"
                                                   required
                                                   min="3"
                                            />
                                        </div>
                                        <br>
                                        <label for="newemail"><b>Email</b></label>
                                        <div class="input-group has-validation">
                                            <input type="email"
                                                   class="form-control"
                                                   id="newemail"
                                                   placeholder="Email"
                                                   required
                                            />

                                        </div>
                                        <br>
                                        <label for="newpsw"><b>Password</b></label>
                                        <div class="input-group has-validation">
                                            <input type="password"
                                                   class="form-control"
                                                   id="newpsw"
                                                   placeholder="Password"
                                                   required
                                                   minlength="6"
                                            />
                                        </div>
                                        <br>
                                        <p><b>Roles</b></p>
                                        <div class="mb-3"><select id="newUserRoles"
                                                                  name="selectRoles"
                                                                  multiple="multiple"
                                                                  required
                                        >
                                            <option value="1">Admin</option>
                                            <option value="2">User</option>
                                        </select>
                                        </div>
                                        <br>
                                        <input type="submit" class="btn btn-success" onclick="createUser()"
                                               value="Add User"/>
                                    </form>

                                </div>
                            </div>
                            <div class="col"></div>
                        </div>

                    </div>

                </div>

            </div>
            <div id="v-pills-profile" class="container tab-pane fade"><br>
                <h3>User information page</h3>
                <h5>About user</h5>
                <table class="table table-striped table-bordered" id="principalTable">
                    <thead>
                    <tr>
                        <th scope="col">ID</th>
                        <th scope="col">First Name</th>
                        <th scope="col">Last Name</th>
                        <th scope="col">Age</th>
                        <th scope="col">Email</th>
                        <th scope="col">Role</th>

                    </tr>
                    </thead>
                    <tbody>

                    </tbody>
                </table>
            </div>
        </div>

    </div>
    <script>

        ///----------------Delete all rows in table----------
        function refreshAllRows() {
            let table = document.getElementById("usersTable").querySelector("tbody");
            while (table.rows.length) {
                table.deleteRow(0); // Прощаемся с первой строкой!
            }
            GetUsers();
        }

        //---------------Create Table for principal--------------
        const principaltbody = document.getElementById("principalTable").querySelector("tbody");

        async function whoIAm() {
            const response = await fetch("/api/whoiam", {
                method: "GET",
                headers: {"Accept": "application/json"}
            });
            if (response.ok === true) {
                const user = await response.json();
                principaltbody.append(rowForPrincipal(user));
                document.getElementById("principalmail").textContent = user.email;
                document.getElementById("auth_roles").textContent = user.usersRoles[0].name;
            }

        }

        whoIAm();


        // создание строки для таблицы Principal
        function rowForPrincipal(user) {

            const tr = document.createElement("tr");
            tr.setAttribute("data-rowid", user.id);

            const idTd = document.createElement("td");
            idTd.append(user.id);
            tr.append(idTd);

            const nameTd = document.createElement("td");
            nameTd.append(user.username);
            tr.append(nameTd);

            const lastnameTd = document.createElement("td");
            lastnameTd.append(user.secondName);
            tr.append(lastnameTd);

            const ageTd = document.createElement("td");
            ageTd.append(user.age);
            tr.append(ageTd);

            const emailTd = document.createElement("td");
            emailTd.append(user.email);
            tr.append(emailTd);

            const rolesTd = document.createElement("td");
            for (let i = 0, l = user.usersRoles.length; i < l; i++) {
                rolesTd.append(user.usersRoles[i].name);
                rolesTd.append("\n");
            }
            tr.append(rolesTd);

            return tr;
        }


        //---------------Create Table---------------
        const tbody = document.getElementById("usersTable").querySelector("tbody");

        // Получение всех пользователей
        async function GetUsers() {
            const response = await fetch("http://localhost:8080/api/users", {
                method: "GET",
                headers: {"Accept": "application/json"}
            });
            if (response.ok === true) {
                const users = await response.json();
                users.forEach(user => {
                    tbody.append(row(user));
                });
            }
        }

        // создание строки для таблицы
        function row(user) {

            const tr = document.createElement("tr");
            tr.setAttribute("data-rowid", user.id);

            const idTd = document.createElement("td");
            idTd.append(user.id);
            tr.append(idTd);

            const nameTd = document.createElement("td");
            nameTd.append(user.username);
            tr.append(nameTd);

            const lastnameTd = document.createElement("td");
            lastnameTd.append(user.secondName);
            tr.append(lastnameTd);

            const ageTd = document.createElement("td");
            ageTd.append(user.age);
            tr.append(ageTd);

            const emailTd = document.createElement("td");
            emailTd.append(user.email);
            tr.append(emailTd);

            const rolesTd = document.createElement("td");
            for (let i = 0, l = user.usersRoles.length; i < l; i++) {
                rolesTd.append(user.usersRoles[i].name);
                rolesTd.append("\n");
            }
            tr.append(rolesTd);

            const linksTd = document.createElement("td");

            const editLink = document.createElement("button");
            editLink.setAttribute("data-id", user.id);
            editLink.setAttribute("class", "btn btn-primary");
            editLink.setAttribute("data-toggle", "modal");
            editLink.setAttribute("data-target", "#exampleModal");
            editLink.append("Edit");
            editLink.addEventListener("click", e => {
                e.preventDefault();
                edit_btn_click(user.id);
            });
            linksTd.append(editLink);
            tr.appendChild(linksTd);

            const bTd = document.createElement("td");
            const removeLink = document.createElement("a");
            removeLink.setAttribute("data-id", user.id);
            removeLink.setAttribute("class", "btn btn-danger");
            removeLink.setAttribute("data-toggle", "modal");
            removeLink.setAttribute("data-target", "#deleteModal");
            removeLink.append("Delete");
            removeLink.addEventListener("click", e => {
                e.preventDefault();
                delete_btn_click(user.id);
            });

            bTd.append(removeLink);


            tr.appendChild(bTd);

            return tr;
        }

        GetUsers();


        // Добавление пользователя
        async function createUser() {
            let name = document.getElementById("newname").value;
            let lastname = document.getElementById("newsecondName").value;
            let age = document.getElementById("newage").value;
            let email = document.getElementById("newemail").value;
            let password = document.getElementById("newpsw").value;
            let roles = document.getElementById("newUserRoles").value;

            if (getSelectValues(newUserRoles).indexOf('1') !== -1 && getSelectValues(newUserRoles).indexOf('2') !== -1) {
                const response = await fetch("api/users", {
                    method: "POST",
                    headers: {"Accept": "application/json", "Content-Type": "application/json"},
                    body: JSON.stringify({
                        username: name,
                        secondName: lastname,
                        age: age,
                        email: email,
                        password: password,
                        usersRoles: [
                            {
                                id: 2,
                                name: "ROLE_ADMIN",
                                authority: "ROLE_ADMIN"
                            },
                            {
                                id: 1,
                                name: "ROLE_USER",
                                authority: "ROLE_USER"
                            }
                        ],
                    })
                });
                if (response.ok === true) {
                    const user = await response.json();
                    tbody.append(row(user));
                }

            } else if (getSelectValues(newUserRoles).indexOf('2') !== -1) {
                const response = await fetch("api/users", {
                    method: "POST",
                    headers: {"Accept": "application/json", "Content-Type": "application/json"},
                    body: JSON.stringify({
                        username: name,
                        secondName: lastname,
                        age: age,
                        email: email,
                        password: password,
                        usersRoles: [
                            {
                                id: 1,
                                name: "ROLE_USER",
                                authority: "ROLE_USER"
                            }
                        ],
                    })
                });
                if (response.ok === true) {
                    const user = await response.json();
                    tbody.append(row(user));
                }

            } else if (getSelectValues(newUserRoles).indexOf('1') !== -1) {
                const response = await fetch("api/users", {
                    method: "POST",
                    headers: {"Accept": "application/json", "Content-Type": "application/json"},
                    body: JSON.stringify({
                        username: name,
                        secondName: lastname,
                        age: age,
                        email: email,
                        password: password,
                        usersRoles: [
                            {
                                id: 2,
                                name: "ROLE_ADMIN",
                                authority: "ROLE_ADMIN"
                            }

                        ],
                    })
                });
                if (response.ok === true) {
                    const user = await response.json();
                    tbody.append(row(user));
                }

            }

            refreshAllRows();

        }


        //-----------Edit User------------------


        async function getUserById(id) {
            try {
                const response = await fetch(
                    'http://localhost:8080/api/users/' + id,
                    {
                        method: 'GET',
                    },
                );

                if (!response.ok) {
                    throw new Error(`Error! status: ${response.status}`);
                }

                const data = await response.json();

                return data;
            } catch (error) {
                console.log(error);
            }
        }

        function edit_btn_click(id) {


            getUserById(id).then(data => {
                console.log(data);
                document.getElementById("userid").value = data.id;
                document.getElementById("username").value = data.username;
                document.getElementById("userlastname").value = data.secondName;
                document.getElementById("userage").value = data.age;
                document.getElementById("useremail").value = data.email;
                document.getElementById("userpassword").value = data.password;
            });


        }

        function perform_edit() {
            // alert("Hello World!");
            let id = document.getElementById("userid").value;
            let name = document.getElementById("username").value;
            let lastname = document.getElementById("userlastname").value;
            let age = document.getElementById("userage").value;
            let email = document.getElementById("useremail").value;
            let password = document.getElementById("userpassword").value;
            let roles = document.getElementById("userRoles").value;


            editUser(id, name, lastname, age, email, password, userRoles);
        }

        function getSelectValues(select) {
            let result = [];
            let options = select && select.options;
            let opt;
            for (let i = 0, iLen = options.length; i < iLen; i++) {
                opt = options[i];
                if (opt.selected) {
                    result.push(opt.value || opt.text);
                }
            }
            return result;
        }

        // Изменение пользователя
        async function editUser(userId, userName, userLastName, userAge, userEmail, userPassword, userRoles) {
            if (getSelectValues(userRoles).indexOf('1') !== -1 && getSelectValues(userRoles).indexOf('2') !== -1) {
                const response = await fetch("api/users", {
                    method: "PUT",
                    headers: {"Accept": "application/json", "Content-Type": "application/json"},
                    body: JSON.stringify({
                        id: userId,
                        username: userName,
                        secondName: userLastName,
                        age: userAge,
                        email: userEmail,
                        password: userPassword,
                        usersRoles: [
                            {
                                id: 2,
                                name: "ROLE_ADMIN",
                                authority: "ROLE_ADMIN"
                            },
                            {
                                id: 1,
                                name: "ROLE_USER",
                                authority: "ROLE_USER"
                            }
                        ],

                    })
                });
                if (response.ok === true) {
                    const user = await response.json();
                    document.querySelector(`tr[data-rowid="${user.id}"]`).replaceWith(row(user));
                }
            } else if (getSelectValues(userRoles).indexOf('2') !== -1) {
                const response = await fetch("api/users", {
                    method: "PUT",
                    headers: {"Accept": "application/json", "Content-Type": "application/json"},
                    body: JSON.stringify({
                        id: userId,
                        username: userName,
                        secondName: userLastName,
                        age: userAge,
                        email: userEmail,
                        password: userPassword,
                        usersRoles: [
                            {
                                id: 1,
                                name: "ROLE_USER",
                                authority: "ROLE_USER"
                            }
                        ],

                    })
                });
                if (response.ok === true) {
                    const user = await response.json();
                    document.querySelector(`tr[data-rowid="${user.id}"]`).replaceWith(row(user));
                }
            } else if (getSelectValues(userRoles).indexOf('1') !== -1) {
                const response = await fetch("api/users", {
                    method: "PUT",
                    headers: {"Accept": "application/json", "Content-Type": "application/json"},
                    body: JSON.stringify({
                        id: userId,
                        username: userName,
                        secondName: userLastName,
                        age: userAge,
                        email: userEmail,
                        password: userPassword,
                        usersRoles: [
                            {
                                id: 2,
                                name: "ROLE_ADMIN",
                                authority: "ROLE_ADMIN"
                            }
                        ],

                    })
                });
                if (response.ok === true) {
                    const user = await response.json();
                    document.querySelector(`tr[data-rowid="${user.id}"]`).replaceWith(row(user));
                }
            }


        }


        function delete_btn_click(id) {
            let rolesTd;
            getUserById(id).then(data => {
                console.log(data);
                document.getElementById("deleteuserid").value = data.id;
                document.getElementById("deleteusername").value = data.username;
                document.getElementById("deleteuserlastname").value = data.secondName;
                document.getElementById("deleteuserage").value = data.age;
                document.getElementById("deleteuseremail").value = data.email;
                document.getElementById("deleteuserroles").value = data.usersRoles[0].name;
            });
        }

        // Удаление пользователя
        async function deleteUser() {
            let id = document.getElementById("deleteuserid").value;
            const response = await fetch("/api/users/" + id, {
                method: "DELETE",
                headers: {"Accept": "application/json"}
            });
            if (response.ok === true) {
                const user = await response.json();
                document.querySelector(`tr[data-rowid="${user.id}"]`).remove();
            }
        }

    </script>

    <div class="modal fade" id="deleteModal"
         tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="deleteModalLabel">Delete user</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <form class="form" id="frmTest" method="get" action="" onsubmit="return validateForm();">
                    <div class="modal-body col text-center">
                        <div class="mb-3">
                            <b>ID</b>
                            <input id="deleteuserid" type="text" class="form-control" readonly>
                        </div>
                        <div class="mb-3">
                            <b>Name</b>
                            <input id="deleteusername" type="text" class="form-control" required
                                   minlength="3"
                                   maxlength="20" readonly>
                        </div>
                        <div class="mb-3">
                            <b>LastName</b>
                            <input id="deleteuserlastname" type="text" class="form-control" required
                                   minlength="3"
                                   maxlength="20" readonly>
                        </div>
                        <div class="mb-3">
                            <b>Age</b>
                            <input id="deleteuserage" type="text" class="form-control" required
                                   min="3" readonly>
                        </div>
                        <div class="mb-3">
                            <b>Email</b>
                            <input id="deleteuseremail" type="email" class="form-control"
                                   required readonly>
                        </div>
                        <p><b>Roles</b></p>
                        <div class="mb-3"><input id="deleteuserroles" type="text" class="form-control"
                                                 required readonly>
                        </div>


                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <input id="btnSubmit" class="btn btn-danger" type="submit" onclick="deleteUser()"
                               value="Delete">
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="modal fade" id="exampleModal"
         tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Edit user</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <form>
                    <div class="modal-body col text-center">
                        <div class="mb-3">
                            <b>ID</b>
                            <input id="userid" type="text" field="id" class="form-control" readonly>
                        </div>
                        <div class="mb-3">
                            <b>Name</b>
                            <input id="username" type="text" field="name" class="form-control" required
                                   minlength="3"
                                   maxlength="20">
                        </div>
                        <div class="mb-3">
                            <b>LastName</b>
                            <input id="userlastname" type="text" field="secondName" class="form-control" required
                                   minlength="3"
                                   maxlength="20">
                        </div>
                        <div class="mb-3">
                            <b>Age</b>
                            <input id="userage" type="text" field="age" class="form-control" required
                                   min="3">
                        </div>
                        <div class="mb-3">
                            <b>Email</b>
                            <input id="useremail" type="email" field="email" class="form-control"
                                   required>
                        </div>
                        <div class="mb-3">
                            <b>Password</b>
                            <input id="userpassword" type="password" field="password" class="form-control"
                                   required
                                   minlength="6">
                        </div>
                        <p><b>Roles</b></p>
                        <div class="mb-3"><select id="userRoles"
                                                  name="selectRoles"
                                                  multiple="multiple"
                                                  required
                        >
                            <option value="1">Admin</option>
                            <option value="2">User</option>
                        </select>
                        </div>


                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <input type="submit" class="btn btn-primary" onclick="perform_edit()" value="Edit"/>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->

    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
            integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
            integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
            crossorigin="anonymous"></script>
</body>
</html>