<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Add User</title>
</head>
<body>
<h3> Add new user </h3>
<form th:method="POST" th:action="@{/admin/newuser}" th:object="${user}" class="form">

    <div class="form-group">
        <label for="name">Name</label>
        <input type="text" th:field="*{name}" id="name" placeholder="Name"/>
        <ul>
            <li th:each="err : ${#fields.errors('username')}" th:text="${err}" class="error"/>
        </ul>
    </div>
    <br>
    <div>
        <label for="secondName">Second Name</label>
        <input type="text" th:field="*{secondName}" id="secondName"/>
        <ul>
            <li th:each="err : ${#fields.errors('secondName')}" th:text="${err}" class="error"/>
        </ul>
    </div>
    <br>
    <div>
        <label for="age">Age</label>
        <input type="number" th:field="*{age}" id="age"/>
        <ul>
            <li th:each="err : ${#fields.errors('age')}" th:text="${err}" class="error"/>
        </ul>
    </div>
    <br>
    <div>
        <label for="psw">Password</label>
        <input type="password" th:field="*{password}" id="psw"/>
        <ul>
            <li th:each="err : ${#fields.errors('password')}" th:text="${err}" class="error"/>
        </ul>
    </div>
    <br>
    <div>
        <th:block th:each="role: ${roles}">
            <input type="checkbox" th:field="*{usersRoles}" th:checked="${true}"
                   th:text="${role.name}" th:value="${role.id}" class="m-2"/>
        </th:block>
        <ul>
            <li th:each="err : ${#fields.errors('usersRoles')}" th:text="${err}" class="error"/>
        </ul>
    </div>
    <br>
    <input type="submit" class="btn btn-success" value="Add User"/>
</form>
<br>
<button onclick="location.href='/admin'">Back</button>
</body>
</html>