<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>User</title>
</head>
<body>
<h3>User information</h3>

<p>ID: <span th:text="${user.getId()}"> ID </span></p>
<p>NAME: <span th:text="${user.getName()}"> NAME </span></p>
<p>SECOND NAME: <span th:text="${user.getSecondName()}"> SECOND NAME </span></p>
<p>AGE: <span th:text="${user.getAge()}"> AGE </span></p>
<p>ROLE: <span th:text="${user.getUsersRoles()}"> ROLE </span></p>
<br>
<br>
<form th:action="@{/logout}" method="post">
    <input type="submit" value="Sign Out"/>
</form>
<br>

</body>
</html>