<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <title>Admin page</title>
</head>

<body>
<div class="row no-gutters">
    <div class="col-sm-12">
        <div class="p-3 bg-dark text-white">
            <div class="page-header">
                <div class="float-left">
                    <b th:text="${principalmail}"> </b> with roles: <b th:text="${auth_roles}"></b>
                </div>
                <div class="float-right">
                    <form th:action="@{/logout}" method="post">
                        <input class="text-white bg-dark" type="submit" value="Logout"/>
                    </form>
                </div>
                <div class="clearfix"></div>
            </div>

        </div>
    </div>


</div>
<div class="row no-gutters">

    <div class="col-sm-3 bg-light">

        <div class="d-flex flex-column">
            <div class="nav flex-column nav-pills me-3" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                <a class="nav-link active" id="v-pills-home-tab" data-bs-toggle="pill" data-toggle="tab"
                   href="#v-pills-home" role="tab"
                   aria-controls="v-pills-home" aria-selected="true">User</a>
            </div>
        </div>
    </div>
    <div class="col-sm-9 px-lg-3" style="background: snow">
        <div class="tab-content">
            <div id="v-pills-home" class="container tab-pane active"><br>
                <h3>User information page</h3>
                <h5>About user</h5>
                <table class="table table-striped table-bordered" id="principalTable">
                    <thead>
                    <tr>
                        <th scope="col">ID</th>
                        <th scope="col">First Name</th>
                        <th scope="col">Last Name</th>
                        <th scope="col">Age</th>
                        <th scope="col">Email</th>
                        <th scope="col">Role</th>
                    </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
            </div>
        </div>

    </div>

</div>

<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->

<script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>

<script>
    //---------------Create Table for principal--------------
    const principaltbody = document.getElementById("principalTable").querySelector("tbody");

    async function whoIAm() {
        const response = await fetch("/userapi/whoiam", {
            method: "GET",
            headers: {"Accept": "application/json"}
        });
        if (response.ok === true) {
            const user = await response.json();
            principaltbody.append(rowForPrincipal(user));
            document.getElementById("principalmail").textContent = user.email;
            document.getElementById("auth_roles").textContent = user.usersRoles[0].name;
        }

    }

    whoIAm();

    // создание строки для таблицы Principal
    function rowForPrincipal(user) {

        const tr = document.createElement("tr");
        tr.setAttribute("data-rowid", user.id);

        const idTd = document.createElement("td");
        idTd.append(user.id);
        tr.append(idTd);

        const nameTd = document.createElement("td");
        nameTd.append(user.username);
        tr.append(nameTd);

        const lastnameTd = document.createElement("td");
        lastnameTd.append(user.secondName);
        tr.append(lastnameTd);

        const ageTd = document.createElement("td");
        ageTd.append(user.age);
        tr.append(ageTd);

        const emailTd = document.createElement("td");
        emailTd.append(user.email);
        tr.append(emailTd);

        const rolesTd = document.createElement("td");
        for (let i = 0, l = user.usersRoles.length; i < l; i++) {
            rolesTd.append(user.usersRoles[i].name);
            rolesTd.append("\n");
        }
        tr.append(rolesTd);

        return tr;
    }

</script>

</body>
</html>